.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.nav-bar {
  background-color: var(--light);
}

.links-wrapper {
  margin: 0px auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
}
.links-wrapper .links-group {
  display: flex;
  gap: 30px;
}
.links-wrapper .links-group .active {
  color: var(--light);
  background: var(--dark);
}
.links-wrapper a {
  padding: 20px;
  text-decoration: none;
  color: var(--dark);
  font-size: 20px;
  font-weight: var(--bold);
}

.first-step {
  color: var(--light);
}

.documents-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.documents-container h1 {
  text-align: center;
}
.documents-container .document {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: var(--primary);
  padding: 12px;
  transition: box-shadow 0.3s;
}
.documents-container .document:hover {
  box-shadow: 10px 10px 10px #00000033;
}
.documents-container .document .document-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.documents-container .document .action-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.documents-container .document .action-buttons div {
  font-weight: var(--bold);
  cursor: pointer;
}
.documents-container .document h3 {
  color: var(--secondary);
  margin: 0px;
}
.documents-container .document h4 {
  font-size: 14px;
  margin: 5px 0px;
  opacity: 0.6;
}
.documents-container .document p {
  margin: 0px;
}
.documents-container .document .pending {
  color: var(--danger);
}
.documents-container .document .done {
  color: var(--done);
}

.images-list {
  max-width: var(--max-width);
  margin: 30px auto;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
}
.images-list .image-card {
  background-color: var(--light);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.images-list img {
  width: 100%;
  object-fit: cover;
}

h1, h2 {
  text-align: center;
}

.image {
  width: 100%;
}

.buttons-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .links-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .links-wrapper .links-group {
    flex-direction: column;
    gap: 0px;
  }
}