body {
  background-color: #333333;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1, h2 {
  text-align: center;
}

.image {
  width: 100%;
}
