:root {
  --bold: 700;
  --dark: #333333;
  --light: #ffffff;
}

body {
  background-color: var(--dark);
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--light);
}
.links-wrapper .links-group {
  display: flex;
  gap: 30px;
}
.links-wrapper a {
  text-decoration: none;
  color: var(--dark);
  font-size: 20px;
  font-weight: var(--bold);
}

.first-step {
  color: var(--light);
}

h1, h2 {
  text-align: center;
}

.image {
  width: 100%;
}

@media (max-width: 750px) {
  .links-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .links-wrapper .links-group {
    flex-direction: column;

  }
}