:root {
  --bold: 700;
  --danger-transparent: #ff634744;
  --danger: #ff6347;
  --done: #87FF47;
  --dark: #333333;
  --gray: #999999;
  --light: #ffffff;
  --max-width: 1200px;
  --primary: #754bbf;
  --secondary: #61dafb;
  --primary-transparent: #754bbf33;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  color: var(--light);
  background-color: var(--dark);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--light);
  font-weight: var(--bold);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.step ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 16px;
  line-height: 20px;
}

.divider {
  border-bottom: 4px solid var(--primary);
}

.content {
  padding: 40px 0px;
  max-width: var(--max-width);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content select {
  margin: 20px auto;
  max-width: 500px;
  border: none;
  padding: 12px;
  font-size: 20px;
}

.button {
  min-width: 160px;
  text-align: center;
  background: var(--light);
  color: var(--dark);
  font-weight: var(--bold);
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 20px;
}
.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.button:hover {
  opacity: 0.9;
}
input::file-selector-button {
  font-weight: var(--bold);
  background-color: var(--primary);
  color: var(--light);
  padding: 12px;
  margin-right: 20px;
  border: none;
}

.button-danger {
  background-color: var(--danger);
  color: var(--light);
}
.button-cancel {
  background-color: var(--gray);
  color: var(--light);
}